body
	background: #222
	color: #fff
	padding: 30px

a,
a:visited
	color: #fff

h2
	background: #444
	padding: 20px
	transition: background .2s ease

	&.failed
		background: #622
	
#translator span
	margin: 0 5px

	&:first-child
		margin: 0 5px 0 0