extends base

block content
	ul.unstyled
		li
			.list-head number of quizzes taken: 
			strong 0
		li
			.list-head number of quizzes passed: 
			strong 0
		li
			.list-head number of quizzes failed: 
			strong 0
		li
			.list-head % quizzes passed: 
			strong 0
		li
			.list-head total words translated: 
			strong 0
		li
			.list-head total correct translations: 
			strong 0
		li
			.list-head total incorrect translations: 
			strong 0
		li
			.list-head % correct translations: 
			strong 0
		li
			.list-head best 10 words
			ul
				li asd
				li asd
				li asd
				li asd
				li asd
				li asd
				li asd
				li asd
				li asd
				li asd
		li
			.list-head worst 10 words
			ul
				li asd
				li asd
				li asd
				li asd
				li asd
				li asd
				li asd
				li asd
				li asd
				li asd
		button.block reset all data