extends base

block content
	form#quiz(action='/???', method='post')
		//- addClass 'failed' if wrong
		h2#quiz-question {word to translate}
		input(type='text', placeholder='translation')
		button(type='submit') submit

		ul#quizinfo
			li#attempts 3 attempts remaining 
			li#questions current question: 1/10

block scripts
	script(src='/js/quiz.js')