extends base

block content
	form#quiz(action='/quiz', method='post')
		//- addClass 'failed' if wrong
		h2#quiz-question {word to translate}
		input(type='text', placeholder='translation')
		button(type='submit') submit

		ul#quizinfo
			li#attempts 3 attempts remaining 
			li#questions 10 questions remaining

block scripts
	script(src='/js/quiz.js')